<!-- Contenedor general -->
<div class="h-screen grid grid-cols-[240px_1fr]">
  <div class="bg-gray-400 flex items-center justify-center">
    <app-sidebar-menu></app-sidebar-menu>
  </div>

  <!-- Contenido -->
  <div class="bg-white p-8 overflow-y-scroll">
    <h2 class="progreso-titulo">Tu progreso</h2>

    <!-- Panel superior -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-5">
      <app-general-review></app-general-review>
      <app-study-time></app-study-time>
    </div>

    <!-- Progreso por bloques -->
    <h3 class="progreso-subtitulo">Progreso por bloques</h3>
    <div class="flex flex-col gap-4 mt-5 mb-5">
      <!-- Repetir para cada bloque -->
      <app-progress-bar [bloqueNombre]="'Bloque 1'" [progreso]="50"
        [bloqueImagenUrl]="'images/bloque-1.png'"></app-progress-bar>

      <!-- Bloque 2 -->
      <app-progress-bar [bloqueNombre]="'Bloque 2'" [progreso]="0"
        [bloqueImagenUrl]="'images/bloque-2.png'"></app-progress-bar>

      <!-- Bloque 3 -->
      <app-progress-bar [bloqueNombre]="'Bloque 3'" [progreso]="0"
        [bloqueImagenUrl]="'images/bloque-3.png'"></app-progress-bar>

      <!-- Bloque 4 -->
      <app-progress-bar [bloqueNombre]="'Bloque 4'" [progreso]="0"
        [bloqueImagenUrl]="'images/bloque-4.png'"></app-progress-bar>
    </div>

    <!-- Próximas metas -->
    <h3 class="progreso-subtitulo">Tus próximas metas</h3>
    <div class="metas-container">
      <!-- Meta 1 -->
      <div class="meta">
        <img src="images/icon-proxima-meta.png" alt="Meta 1" class="meta-icon" />
        <span class="meta-text">Termina la ficha 5</span>
      </div>

      <!-- Meta 2 -->
      <div class="meta">
        <img src="images/icon-racha.png" alt="Meta 2" class="meta-icon" />
        <span class="meta-text">Logra una racha de 7 días</span>
      </div>
    </div>

  </div>
</div>