<div class="friend-card" (click)="onFriendClick()">
  <div class="avatar-container">
    <img 
      *ngIf="!imageError && classmate.profile_picture_url" 
      [src]="classmate.profile_picture_url" 
      [alt]="classmate.full_name"
      class="avatar"
      (error)="onImageError()"
    >
    <div 
      *ngIf="imageError || !classmate.profile_picture_url" 
      class="avatar-placeholder"
    >
      {{ getInitials(classmate.full_name) }}
    </div>
  </div>
  
  <div class="friend-info">
    <h3 class="friend-name">{{ classmate.full_name }}</h3>
    <p class="friend-block">{{ classmate.bloque }}</p>
  </div>
</div>
