:host{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logros-titulo{
    color: #4B4B4B;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.logros-subtitulo{
    color: #4B4B4B;
    font-size: 24px;
    font-weight: 500;
}
